
.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}

.modal-wrapper {
    overflow: auto;
    width: 630px;
    height: 688px;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
    padding: 20px;
    background-color: white;
    box-sizing: border-box
}