/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.edit-ribbon {
	display: none;
	height: 59px;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: "Work Sans";
	font-weight: 400;
}

.edit-ribbon * {
	background-color: transparent;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.logout-link {
	display: none;
}

section {
	margin: 50px 95px; 
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	font-weight: 400;
	margin-top: 5px;
	text-transform: uppercase;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 50px;
}
a {
	text-decoration: none;
	color: black;
}

nav li {
	padding: 0;
	font-size: 1.2em;
}

li:hover {
	font-weight: 700;
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#introduction figure {
	width: 50%;
}
#introduction img {
	display: block;
	margin: auto; 
	width: 100%;
}

#introduction article {
	width: 42%;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	color:#3d3d3d;
}

#portfolio {
	position: relative;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.cta-edit-projects {
	position: absolute;
    left: calc(50% + 120px);
    top: 11px;
    display: none;
    align-items: center;
    gap: 8px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.form-section {
	width: 33.3%;
	margin: auto;
}
.form-section > * {
	text-align: center;
}
.form-section h2{
	margin-bottom: 20px;
}
.form-section p {
	font-size: 16px;
    color: #3d3d3d;
}
.form-section form {
	text-align: left;
	/* margin-top:30px; */
	display: flex;
	flex-direction: column;
}

.form-section input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	text-align: center;
}
.form-section label {
	margin: 3em 0 0.5em 0;
    font-size: 14px;
    font-family: 'Work Sans';
    font-weight: 500;
    color: #3d3d3d;
}
.form-section textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 3em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	font-size: 14px;
    height: 36px;
}

input[type="submit"]:hover {
	background-color: #0e2f28;
	cursor: pointer;
}

.form-section a {
	margin-top: -7px;
	display: block;
	text-align: center;
	color: #3d3d3d;
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: 2px;
}

#login {
	padding-top: 50px;
	padding-bottom: 250px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* mise en page provisoire */
* {
	background-color: #FFFEF8;
}

.gallery figcaption {
    color: #3d3d3d;
    font-size: 13px;
    margin-top: 6px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 50px 0;
}

.filters button {
    border: 1px solid #1D6154;
    border-radius: 25px;
    font-size: 16px;
    padding: 8px;
    min-width: 100px;
    font-family: syne;
    color: #1D6154;
}
.filters button:hover {
    border-color: #0e2f28;
    cursor:pointer
}

.filters button.active {
    background-color: #1D6154;
    color: white;
}
